section.board {
    flex: 4;
    box-sizing: border-box;
    padding: 24px;

    background-color: var(--background-lighter);
    box-shadow: inset var(--shadow);
    border-radius: 48px 48px 0 0;
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    place-items: center;

    max-width: calc(100% - 25px);

    canvas {
        background-color: var(--background);
        box-shadow: var(--shadow);
        border-radius: 32px;
        max-width: 100%;
        max-height: calc(100vh - 272px);
        touch-action: none;
    }

    div.toolbar {
        margin-top: 30px;
        min-width: 75%;
        display: flex;
        flex-wrap: wrap;
        place-items: center;
        place-content: center;
        text-align: center;
        filter: drop-shadow(var(--shadow));

        & > i, img {
            display: block !important;
            background-color: var(--background);

            height: 30px;
            width: 30px;
            font-size: 30px;
            margin: 0 auto;
            border-radius: 40px;
            padding: 8px;
            cursor: pointer;

            &.mainButton {
                font-size: 48px;
                height: 48px;
                width: 48px;
                background-color: var(--accent-color);
                z-index: 1;
            }
        }

        div.brushMenu {
            position: absolute;
            transform: translateY(-75px);
            background-color: var(--darkest);
            color: var(--text-color);
            height: 100px;
            width: 30px;
            padding: 8px;
            border-radius: 16px 16px 0 0;
            transition: transform 500ms, height 500ms;
            overflow: hidden;
            line-height: 30px !important;
            font-size: 30px !important;

            &.hidden {
                height: 0px;
                transform: translateY(0);
            }

            i {
                font-size: 30px;
                vertical-align: top;
                cursor: pointer;

                &#widthIcon {
                    line-height: 30px;
                }
            }
        }
    }

    @media only screen and (min-width: 1300px) {
        flex: none;
    }

    @media only screen and (max-width: 1100px) {
        margin-right: 25px;
        border-radius: 48px;
        
        canvas {
            max-height: calc(100vh - 372px);
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 16px;

        canvas {
            max-height: calc(100vh - 272px);
        }

        div.toolbar {
            flex: 1;
            position: relative;
            margin: 20px 0 8px;
            filter: none;

            i, img {
                height: 4vh;
                width: 4vh;
                font-size: 4vh;
                border-radius: 40px;
                padding: 8px;
                background-color: var(--background);
            }

            div.brushMenu {
                position: unset;
                transform: unset;
                order: 1;
                flex-basis: 100%;
                height: unset;
                background-color: unset;
                color: var(--text-color);
                line-height: 4vh !important;
                font-size: 4vh !important;

                i {
                    font-size: 1em;
                    vertical-align: top;
                    line-height: 4vh;
                    margin: 0 2px;

                    transition: font-size 250ms;

                    &#widthIcon {
                        line-height: unset;
                    }
                }

                &.hidden {
                    height: unset;
                    transform: unset;
                }
            }

            i.mainButton, img.mainButton {
                height: 4vh;
                width: 4vh;
                font-size: 4vh;
            }

            i.brushButton {
                order: -1;
            }

            i.disabledOnMobile {
                display: none !important;
            }
        }
    }
}

input[type="color"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    border: none;
}