body {
    --accent-color: #ef6461;
    --accent-color-darker: #bd403e;
    --alternate-accent: #e4b363;
    --background: #1c1f20;
    --darkest: #0d0f0f;
    --canvas: #1f2324;
    --background-lighter: #333636;
    --background-lighter-still: #464949;
    --navbar-background: #313638;
    --unselected-navbar: #888;
    --light-line: #666;
    --text-color: #fff;
    --shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    --heavy-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}