@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    --accent-color: #ef6461;
    --accent-color-darker: #bd403e;
    --alternate-accent: #e4b363;
    --background: #1c1f20;
    --canvas: #1f2324;
    --background-lighter: #333636;
    --navbar-background: #313638;
    --unselected-navbar: #888;
    --light-line: #666;
    --text-color: #fff;
    --shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    --heavy-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    margin: 0;
    padding: 0 !important;

    color: var(--text-color);
    background: radial-gradient(var(--background-lighter), black);
    font-family: Inter;
}

body.swal2-shown.swal2-height-auto { height: 100% !important; }
h2.swal2-title, div.swal2-html-container, input.swal2-input, div.swal2-validation-message { color: var(--text-color) !important; }
div.swal2-validation-message { background-color: var(--background-lighter) !important; }
button.swal2-styled.swal2-confirm { background-color: var(--accent-color) !important; }
button.swal2-styled.swal2-deny { background-color: var(--accent-color) !important; }
div.swal2-icon {
    border-color: var(--accent-color) !important;
    color: var(--alternate-accent) !important;
}
input.swal2-file:focus, input.swal2-input:focus, textarea.swal2-textarea:focus, button.swal2-styled:focus {
    border: 1px solid #ef6461 !important;
    box-shadow: 0 0 0 3px rgba(226, 105, 89, 0.5) !important;
}

div.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    text-align: center;
    font-family: Inter;

    h1 {
        margin-top: 0;
        font-size: 5vh;
    }

    canvas {
        position: relative;
        max-width: 1600px;
        max-height: 1200px;
        height: min(90vw * 0.75, 70vh);
        width: min(90vw, 70vh * (4 / 3));
        z-index: 1;

        border-radius: 40px;
        background: var(--canvas);
        box-shadow:  12px 12px 40px #181a1b, -12px -12px 40px #1e2122;

        touch-action: none;
    }

    div.toolbar {
        position: absolute;
        width: 50px;
        background-color: var(--background-lighter);
        text-align: center;
        padding: 5px 0;
        border-radius: 0 5px 5px 0;
        box-shadow: var(--shadow);
        user-select: none;
        
        i, img {
            font-size: 32px;
            width: 32px;
            cursor: pointer;
            transition: transform 250ms, opacity 250ms;

            &:active {
                transform: scale(0.75);
            }
        }

        i.smaller {
            font-size: 28px;
            margin: 5px 0;

            @media (orientation: portrait) {
                & {
                    display: none;
                }
            }
        }

        &.brush {
            img {
                opacity: 0.2;
            }
        }

        &.eraser {
            i:first-child {
                opacity: 0.2;
            }
        }
    }

    div.whiteboards {
        width: 90vw;
        max-width: 1000px;
        height: 60vh;
        overflow: hidden auto;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));

        div {
            width: calc(33% - 12.67px);
            box-sizing: border-box;
            margin: 0 10px 10px 0;
            display: inline-block;
            border-radius: 15px;
            background: var(--canvas);

            img {
                width: 100%;
                border-radius: 15px 15px 0 0;
                display: block;
            }

            span {
                display: block;
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                padding: 10px 12px;
                background-color: var(--navbar-background);
                border-radius: 0 0 15px 15px;
                text-align: left;

                i {
                    font-size: 20px;
                    display: block;
                    float: right;
                    cursor: pointer;
                    margin-left: 8px;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
        }
           
        &::-webkit-scrollbar-track { 
            background-color: var(--canvas);
            border-radius: 4px;
        }
           
        &::-webkit-scrollbar-thumb {
            background-color: var(--navbar-background);
            border-radius: 4px;

            &:hover {
                background-color: var(--light-line);
            }
        }
    }
}

div.message {
    max-width: 90vw;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    background-color: var(--background);
    position: fixed;
    bottom: 40px;
    right: 0px;
    z-index: 5;
    font-weight: 200;
    font-size: 2vh;
    box-shadow: var(--shadow);
    animation: showMessage 8s;

    span {
        display: block;
        font-weight: 400;
    }
}

input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    height: 0;
}

@keyframes showMessage {
    0% {
        transform: translateX(100%);
    }
    8% {
        transform: none;
    }
    92% {
        transform: none;
    }
    100% {
        transform: translateX(100%);
    }
}