@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    --accent-color: #ef6461;
    --accent-color-darker: #bd403e;
    --alternate-accent: #e4b363;
    --background: #1c1f20;
    --canvas: #1f2324;
    --background-lighter: #313638;
    --background-lightest: #3e4346;
    --unselected-navbar: #888;
    --light-line: #666;
    --text-color: #fff;
    --shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    --heavy-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    margin: 0;
    padding: 0 !important;

    color: var(--text-color);
    background: radial-gradient(var(--background-lighter), black);
    font-family: Inter;
    position: absolute;
}

body.swal2-shown.swal2-height-auto { height: 100% !important; }
h2.swal2-title, div.swal2-html-container, input.swal2-input, div.swal2-validation-message { color: var(--text-color) !important; }
div.swal2-validation-message { background-color: var(--background-lighter) !important; }
button.swal2-styled.swal2-confirm { background-color: var(--accent-color) !important; }
button.swal2-styled.swal2-deny { background-color: var(--accent-color) !important; }
div.swal2-icon {
    border-color: var(--accent-color) !important;
    color: var(--alternate-accent) !important;
}
input.swal2-file:focus, input.swal2-input:focus, textarea.swal2-textarea:focus, button.swal2-styled:focus {
    border: 1px solid #ef6461 !important;
    box-shadow: 0 0 0 3px rgba(226, 105, 89, 0.5) !important;
}

div.main {
    position: absolute;
    width: calc(100% - 0px);
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    text-align: center;
    font-family: Inter;
    z-index: 0;
    transition: width 500ms;

    h1 {
        margin-top: 0;
        font-size: 5vh;
    }

    canvas {
        position: relative;
        max-width: min(1600px, 90%);
        max-height: 1200px;
        height: min(90vw * 0.75, 70vh);
        width: min(90vw, 70vh * (4 / 3));
        z-index: 1;

        border-radius: 40px;
        background: var(--canvas);
        box-shadow:  12px 12px 40px #181a1b, -12px -12px 40px #1e2122;

        touch-action: none;
    }

    div.toolbar {
        position: absolute;
        width: 50px;
        background-color: var(--background-lighter);
        text-align: center;
        padding: 5px 0;
        border-radius: 0 5px 5px 0;
        box-shadow: var(--shadow);
        user-select: none;
        transition: opacity 250ms;
        
        i, img {
            font-size: 32px;
            width: 32px;
            cursor: pointer;
            transition: transform 250ms, opacity 250ms;

            &:active {
                transform: scale(0.75);
            }
        }

        i.smaller {
            font-size: 28px;
            margin: 5px 0;

            @media (orientation: portrait) {
                & {
                    display: none;
                }
            }
        }

        &.brush {
            img {
                opacity: 0.2;
            }
        }

        &.eraser {
            i:first-child {
                opacity: 0.2;
            }
        }

        div.extended {
            background-color: var(--background);
            margin: 0;
            height: 0px;
            width: 50px;
            border-radius: 0 0 10px 10px;
            transition: height 250ms, margin 250ms, padding 250ms, width 250ms;
            overflow: hidden;
            box-sizing: border-box;
            padding: 0;

            &.extendedBrush.enlarged {
                height: 88px;
                margin: 4px 0 8px;
                padding: 10px 0;
            }

            &.portrait {
                display: inline-block;
                width: 0px;
                height: 32px;
                border-radius: 0 10px 10px 0;
                margin: -2px;
                
                &.extendedBrush.enlarged {
                    height: 32px;
                    padding: 0;
                    margin: 0;
                    width: 88px;
                }
            }
        }
    }

    div.whiteboards {
        width: 90vw;
        max-width: 1000px;
        height: 60vh;
        overflow: hidden auto;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));

        div {
            position: relative;
            width: calc(33% - 12.67px);
            box-sizing: border-box;
            margin: 10px 10px 0 0;
            display: inline-block;
            border-radius: 15px;
            background: var(--canvas);

            img {
                width: 100%;
                border-radius: 15px 15px 0 0;
                display: block;
                cursor: pointer;
            }

            span {
                display: block;
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                padding: 10px 12px;
                background-color: var(--background-lighter);
                border-radius: 0 0 15px 15px;
                text-align: left;

                i {
                    font-size: 20px;
                    display: block;
                    float: right;
                    cursor: pointer;
                    margin-left: 8px;
                }
            }

            div {
                margin: 0;
                display: block;
                position: absolute;
                background-color: var(--accent-color);
                z-index: 3;
                width: 40px;
                height: 40px;
                top: -10px;
                right: -10px;
                border-radius: 20px;
                font-size: 20px;
                line-height: 40px;
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
        }
           
        &::-webkit-scrollbar-track { 
            background-color: var(--canvas);
            border-radius: 4px;
        }
           
        &::-webkit-scrollbar-thumb {
            background-color: var(--background-lighter);
            border-radius: 4px;

            &:hover {
                background-color: var(--light-line);
            }
        }
    }

    &.chatShown {
        width: calc(100% - 400px);
        @media (orientation: portrait) {
            width: 0px;
        }
    }
}

div.message {
    max-width: 90vw;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    background-color: var(--background);
    position: fixed;
    bottom: 40px;
    right: 0px;
    z-index: 5;
    font-weight: 200;
    font-size: 2vh;
    box-shadow: var(--shadow);
    animation: showMessage 8s;

    span {
        display: block;
        font-weight: 400;
    }
}

div.maximised {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    place-items: center;
    place-content: center;
    z-index: 1;
    opacity: 0;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    pointer-events: none;

    div.board {
        max-width: 1600px;
        max-height: 1200px;
        height: calc(37.5vw + 60px);
        width: 50vw;

        img {
            width: 100%;
            display: block;
            border-radius: 20px 0 0;
        }

        span {
            display: block;
            width: 100%;
            height: 60px;
            box-sizing: border-box;
            padding: 15px 20px;
            background-color: var(--background-lighter);
            text-align: left;
            border-radius: 0 0 0 20px;
            font-size: 24px;

            i {
                font-size: 20px;
                display: block;
                float: right;
                cursor: pointer;
                margin-left: 8px;
            }
        }
    }

    div.chat {
        height: calc(37.5vw + 60px);
        width: 20vw;
        background-color: var(--background);
        border-radius: 0 20px 20px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        h2 {
            margin: 20px;
            font-size: 1.8em;
        }

        div.messages {
            flex: 1;
            overflow: hidden auto;
            padding: 0 20px;
            box-sizing: border-box;

            &::-webkit-scrollbar {
                width: 8px;
            }
               
            &::-webkit-scrollbar-track { 
                background-color: var(--canvas);
                border-radius: 4px;
            }
               
            &::-webkit-scrollbar-thumb {
                background-color: var(--background-lighter);
                border-radius: 4px;
    
                &:hover {
                    background-color: var(--light-line);
                }
            }

            span.userMessage, span.hostMessage {
                display: block;
                margin-bottom: 10px;

                span {
                    display: inline-block;
                    background-color: var(--background-lighter);
                    border-radius: 15px 15px 15px 0;
                    padding: 10px;
                    max-width: 80%;
                    word-break: break-word;
                }

                &.hostMessage {
                    text-align: right;

                    span {
                        border-radius: 15px 15px 0 15px;
                        background-color: var(--accent-color-darker);
                        text-align: left;
                    }
                }

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        input {
            box-sizing: border-box;
            height: 60px;
            border: none;
            padding: 0 20px;
            border-radius: 0 0 20px;
            font-family: Inter;
            font-size: 18px;
            outline: none !important;
        }
    }
}

div.maximised.shown {
    opacity: 1;
    pointer-events: all;
}

div.clientChat {
    position: absolute;
    right: -400px;

    height: 100%;
    width: 400px;
    background-color: var(--background);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: none;

    transition: right 500ms, width 500ms, box-shadow 500ms;

    &.chatShown {
        right: 0px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

        @media (orientation: portrait) {
            width: calc(100% - 0px);
            div.toggle {
                left: 12px !important;
            }
            h2 {
                margin: 27.5px 25px 25px 80px;
            }
        }
    }

    h2 {
        margin: 25px;
        font-size: 1.8em;
        transition: margin 500ms;
    }

    div.messages {
        flex: 1;
        overflow: hidden auto;
        padding: 0 25px;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            width: 8px;
        }
            
        &::-webkit-scrollbar-track { 
            background-color: var(--canvas);
            border-radius: 4px;
        }
            
        &::-webkit-scrollbar-thumb {
            background-color: var(--background-lighter);
            border-radius: 4px;

            &:hover {
                background-color: var(--light-line);
            }
        }

        span.userMessage, span.hostMessage {
            display: block;
            margin-bottom: 10px;

            span {
                display: inline-block;
                background-color: var(--background-lighter);
                border-radius: 15px 15px 15px 0;
                padding: 10px;
                max-width: 80%;
                word-break: break-word;
            }

            &.userMessage {
                text-align: right;

                span {
                    border-radius: 15px 15px 0 15px;
                    background-color: var(--accent-color-darker);
                    text-align: left;
                }
            }

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }

    input {
        box-sizing: border-box;
        height: 60px;
        border: none;
        padding: 0 16px;
        font-family: Inter;
        font-size: 24px;
        outline: none !important;
        background-color: var(--background-lighter);
        color: var(--text-color);
        transition: background-color 100ms;

        &:hover, &:focus {
            background-color: var(--background-lightest);
        }
    }

    div.toggle {
        position: absolute;
        top: 12.5px;
        left: -60px;
        width: 60px;
        height: 60px;
        background-color: var(--background);
        border-radius: 25px 0 0 25px;
        box-sizing: border-box;
        padding: 14px;
        cursor: pointer;
        transition: left 500ms;

        i {
            font-size: 36px;
            pointer-events: none;
        }

        div.notification {
            position: absolute;
            bottom: -6px;
            left: -6px;
            background-color: var(--accent-color);
            width: 36px;
            height: 36px;
            border-radius: 18px;
            font-size: 22px;
            line-height: 36px;
            text-align: center;
            pointer-events: none;
        }
    }
}

input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    height: 0;
}

div.maximised { transition: opacity 500ms; }